<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Full Stack Web Page</title>

	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<h1>Percentage Calculator</h1>
	<form action="/data" method="post">

		<table>
			<tr>
				<td><label>Enter the Student Name : </label></td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td><label>Enter the first subject marks : </label>
				</td>
				<td><input type="number" name="sub1" /></td>
			</tr>
			<tr>
				<td> <label>Enter the second subject marks :</label></td>
				<td> <input type="number" name="sub2" /></td>
			</tr>
			<tr>
				<td><label>Enter the third subject marks :</label></td>
				<td><input type="number" name="sub3" /></td>
			</tr>
			<tr>
				<td><label>Enter the fourth subject marks :</label></td>
				<td><input type="number" name="sub4" /></td>
			</tr>
			<tr>
				<td><label>Enter the fifth subject marks :</label></td>
				<td><input type="number" name="sub5" /></td>
			</tr>


		</table>

		<input type="submit" value="Submit" />

	</form>
</body>

</html>