<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<link rel="stylesheet" th:href="@{/CSS/adminHome.css}">
</head>
<body>
<h1>Admin Home</h1>
<div class="container">
<button onclick="window.location.href='/newSong'">Add a new song</button>
<button onclick="window.location.href='/viewSongs'">View All Songs</button>
<button onclick="window.location.href='/createPlaylist'">CreatePlaylist</button>
<button onclick="window.location.href='/viewPlaylist'">View All Playlist</button>
<button onclick="window.location.href='/logout'" id="logout">LogOut</button>
</div>
</body>
</html>